// FULL PAGE
body
  margin: 0 auto
  padding: 20px
  max-width: 1000px

.container
  display: inline-flex
  flex-wrap: wrap

.boxes
  width: 450px
  height: 450px
  border-style: dashed
  text-align: center

.title
  padding-top: 35%
  h1
    font-weight: bold
  p
    font-style: italic

.socials
  width: 100%
  height: 100%
  display: inline-flex
  flex-wrap: wrap
  a
    // background-color: blue
    min-width: 50%
    height: 50%
    flex-grow: 2
